@use '@carbon/layout';
@use '@carbon/react/scss/themes';
@use '@carbon/react/scss/theme';
@use '@openmrs/esm-styleguide/src/vars' as *;

.toolStyles {
  background-color: transparent;
}

.chevronImplementerToolsButton {
  position: fixed;
  bottom: 0;
  left: calc(50vw - layout.$spacing-05);
  z-index: 9999;

  div {
    padding: '6px';
    box-shadow: '0 -2px 6px #d2d2d2`;
    background-color: $ui-02;
    width: layout.$spacing-07;
    display: flex;
    justify-content: center;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
  }

  div:hover {
    padding: layout.$spacing-03 0;
    transform: translateY(-5px);
  }
}

.darkTheme {
  @include theme.theme(themes.$g90);
}
